.card .col-md-9.self-end {
    float: right !important;
    margin-left: 90px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.card.form {
    padding: 13px;
}

.card {
    padding: 13px;
    padding-bottom: 5px;
}
h3{
    padding-bottom: 2vh;
}
