<h3 class="text-center">Communication</h3>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card form">
                    <form [formGroup]="communicationForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" formControlName="name" placeholder="Name" value="">
                                    <p id="error" [hidden]="!comunicationFormError.name.errors?.required|| submitted == false" class="padding-start">
                                        Name is required
                                    </p>
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" formControlName="subject" placeholder="Subject" value="">
                                    <p id="error" [hidden]="!comunicationFormError.subject.errors?.required|| submitted == false" class="padding-start">
                                        Subject is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea rows="5" class="form-control" formControlName="message" placeholder="Here can be your description" value="Mike"></textarea>
                                    <p id="error" [hidden]="!comunicationFormError.message.errors?.required || submitted == false" class="padding-start">
                                        Message is required
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button type="submit"(click)="send()" class="btn btn-info btn-fill pull-right">Send Message</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Past Communication Notes</h4>
                    </div>
                    <div class="content">
                        <div class="row" *ngFor="let m of messages">
                            <div class="col-md-9">
                                <p>{{m.createdAt | date : 'short'}}</p>
                                <div class="card">
                                    <p>{{m.msg}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngFor="let m of agentResponse">
                            <div class="col-md-9 self-end">
                                <p>{{m.createdAt | date : 'short'}}</p>
                                <div class="card">
                                    <p>{{m.msg}}</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>
</div>