.item-logo img{
    max-width: 20px;
}
.item-logo{
    margin-top: 20px;
    .align-items-center{
        margin-left: 10px;
    }
}

.col-md-3{
    // margin-top: 6vh;
    // background: #f6f6f6;
    // padding-bottom: 15px;
    // padding-left: 15px

}
.row{
    margin-top: 6vh;
    background: #f6f6f6;
    padding:15px;
}
.item-logo.d-flex:hover{
    padding: 10px;
    box-shadow: 8px 8px 5px grey;    
    transform: scale(1.1);

}