
<div class="row">
    <div class="col-md-3">
            <div class="item-logo d-flex" routerLink="/communication">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Communication
                </div>
            </div>  
    </div>
    <div class="col-md-3">
            <div class="item-logo d-flex" routerLink="/clients">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Clients
                </div>            
            </div>    
    </div>
    <div class="col-md-3">
            <div class="item-logo d-flex" routerLink="/sub-contractors">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Sub-Contractors
                </div>   
            </div> 
    </div>
    <div class="col-md-3">
            <div class="item-logo d-flex">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Contracts
                </div>
            </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-3">
            <div class="item-logo d-flex">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Logging & Tracking
                </div>
                    
        </div>
        
    </div>
    <div class="col-md-3">
            <div class="item-logo d-flex" routerLink="/order-progress">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Order Progress
                </div>
                    
        </div>
    </div>
    <div class="col-md-3">
            <div class="item-logo d-flex">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Invoices
                </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="item-logo d-flex">
                <img src="{{droplets}}" alt="item-logo">
                <div class="align-items-center d-flex justify-content-center">
                    Logistics   
                </div>
        </div>
        
    </div>
    
</div>
