.card{
    background:#0e4d92;
 width: 400px;
//  height: 400px;
 box-shadow: 8px 8px 5px grey;    
 transform: scale(1.1);
}
h4,p,label,span{
    color: #fff;
    padding: 8px;
}
button{
    border-radius: 8px;
}
.row{
    padding: 10px;
}
p{
    padding-left: 15px;
    color: var(--danger);
}
a{
    color: #fff;
}
a:hover{
    color: #5786b9;
}
.container{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

