
        
            <form [formGroup]="resetEmailform" (ngSubmit)="onsubmit()" novalidate>
                <div class="row justify-content-center">
                <div class="card">
                <label>Enter your email address to reset password</label>
                <input type="email"  formControlName="email" placeholder="email@gmail.com">
                <p id="error" [hidden]="!resetEmailformError.email.errors?.required|| submitted == false" class="padding">
                    Email is required
                </p>
                <p id="error" [hidden]="!resetEmailformError.email.errors?.pattern || submitted == false" class="padding-start">
                    Invalid Email!
                </p>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
                </div>
                </div>

            </form>

        

