.card img{
    max-width: 3vw;
}
.row{
    padding: 7px;
}
.card{
    background: #f6f6f6;
    border-right: none;
    border-left: none;
}
.card-color{
    background-color:#0e4d92;
    height: 20px;
}
h5{
    margin-top: 8px;
    margin-left: 10px;
}