

<div class="row">
    <div class="col">
        <div class="card">
            <div class="recieved-color">
            </div>
            <div class="card-body">
                <h3>ORDER RECIEVED</h3>
            </div>
            
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="loaded-color">
            </div>
            <div class="card-body">
                <h3>ORDER LOADED</h3>
            </div>
            
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="delivered-color">
            </div>
            <div class="card-body">
                <h3>ORDER DELIVERED</h3>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card order">
            <div class="order-color">
            </div>
            <div class="card-body">
                <div class="chart-container">    
                    <canvas id="canvas"></canvas>    
                  </div> 
                <h6>ORDER PROGRESS</h6>
            </div>
            
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>