<!-- <div class="row">
    <div class="col">
        <div class="card card-container d-flex" (click)="navigate('admin-dashboard')">
            <div class="board-admin"></div>
            <div class="card-body align-items-center d-flex justify-content-center">
            <mat-card>Admin System</mat-card>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-container d-flex">
            <div class="board-employee"></div>
            <div class="card-body align-items-center d-flex justify-content-center">
               
               <mat-card>Employee System</mat-card> 
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col">
        <div class="card card-container d-flex">
            <div class="board-client"></div>
            <div class="card-body align-items-center d-flex justify-content-center">
                <mat-card> Client System</mat-card>
            </div>
        </div>
    </div> 
    <div class="col">
        <div class="card card-container d-flex">
            <div class="board-expenses"></div>
            <div class="card-body align-items-center d-flex justify-content-center">
            <mat-card>Expenses System</mat-card>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col">
        <div class="card card-container d-flex">
            <div class="board-sub-contractor"></div>
            <div class="card-body align-items-center d-flex justify-content-center">
                <mat-card>Sub-Contractors System</mat-card>
            </div> 
        </div>
    </div>
    <div class="col">
        <div class="card card-container d-flex">
            <div class="board-fleet"></div>
            <div class="card-body align-items-center d-flex justify-content-center">
                <mat-card>Fleet System</mat-card>
            </div>
        </div>
    </div>
</div> -->
<div class="col">
<div class="row">
    <div class="col">
        <div class="card card-stats card-container" (click)="navigate('admin-dashboard')">
            <div class="card-header card-header-warning card-header-icon align-items-center d-flex justify-content-center">
                <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                </div>
                <h5 class="card-title">Admin System
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-stats card-container">
            <div class="card-header card-header-success card-header-icon align-items-center d-flex justify-content-center">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <h5 class="card-title">Employee System</h5>
            </div>
            <!-- <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-stats card-container">
            <div class="card-header card-header-danger card-header-icon align-items-center d-flex justify-content-center">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <!-- <p class="card-category">Fixed Issues</p> -->
                <h5 class="card-title">Client System</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-stats card-container">
            <div class="card-header card-header-info card-header-icon align-items-center d-flex justify-content-center">
                <div class="card-icon">
                    <i class="material-icons">date_range</i> 
                </div>
                <h5 class="card-title">Expenses System</h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-stats card-container">
            <div class="card-header card-header-danger card-header-icon align-items-center d-flex justify-content-center">
                <div class="card-icon">
                    <i class="material-icons">local_offer</i> 
                </div>
                <h5 class="card-title">Sub-Contractors System</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-stats card-container">
            <div class="card-header card-header-info card-header-icon align-items-center d-flex justify-content-center">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <h5 class="card-title">Fleet System</h5>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>



